DATABASE_URL=postgresql://replace-with-db-username:replace-with-db-password@replace-with-db-host:5432/replace-with-db-name
AMIE_API_KEY=replace-with-amie-api-key
AMIE_SITE_NAME=NRP
AMIE_URL=https://replace-with-amie-url
PORTAL_RPC_TOKEN=replace-with-portal-rpc-token
ALERT_SMTP_PASSWORD=replace-with-smtp-password

# OIDC settings for admin callback code exchange.
AUTH_ADMIN_CLIENT_SECRET=replace-with-admin-client-secret
AUTH_ADMIN_OIDC_CONFIGURATION_URL=https://replace-with-admin-oidc-configuration
AUTH_ADMIN_TOKEN_URL=https://replace-with-admin-token-url
AUTH_ADMIN_USERINFO_URL=https://replace-with-admin-userinfo-url
AUTH_ADMIN_LOGOUT_URL=https://replace-with-admin-logout-url
AUTH_ADMIN_JWKS_URL=https://replace-with-admin-jwks-url
AUTHENTIK_CLIENT_SECRET=replace-with-authentik-client-secret
AUTHENTIK_OIDC_CONFIGURATION_URL=https://replace-with-authentik-oidc-configuration
AUTHENTIK_TOKEN_URL=https://replace-with-authentik-token-url
AUTHENTIK_USERINFO_URL=https://replace-with-authentik-userinfo-url
